<br>
<br>
<div class="d-grip gap-2-mt-4 mb-5">
    <a routerLink="/create" class="btn btn-primary" type="button">crear</a>


</div>
<table class="table table-hover table-striped">
    <thead class="bg-dark text-white">
        <tr>

            <th>raza</th>
            <th>nombre-propietario</th>
            <th>nombre</th>
            <th>especie</th>
            <th>edad</th>
            <th>sexo</th>


        </tr>
    </thead>




    <tbody>

        <tr *ngFor="let mascosta of Mascotas">

            <td>{{mascosta.raza}}</td>
            <td>{{mascosta.nombrePropietario}}</td>
            <td>{{mascosta.nombre}}</td>

            <td>{{mascosta.especie}}</td>

            <td>{{mascosta.edad}}</td>
            <td>{{mascosta.sexo}}</td>

            <td>
                <button routerLink="/edit/{{mascosta.documentId}}" class="btn btn-outline-secondary"><i
                        class="fa-solid fa-pen-to-square"></i></button>
                <button (click)="deleteRecord(mascosta.documentId)" class="btn btn-outline-danger"><i
                        class="fa-solid fa-trash"></i></button>

            </td>



        </tr>


    </tbody>


</table>